body.light {
    background-color: #d2f4ee;
    color: #2e2f42;
}

body.dark {
    background-color: #2e2f42;
    color: #d2f4ee;
}

.feedback-form {
    border-radius: 8px;
    padding: 24px;
    width: 360px;
    height: 248px;
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 16px;
background-color: #fff;
}

.form-label-input {
    width: 360px;
    height: 40px;
    padding: 0;
    border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
}

.form-label {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
}

.form-label-textarea {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;

}

.form-textarea {
    border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 80px;
padding: 0;
resize: none;
}

.form-label-input:hover, .form-textarea:hover {
    border: 1px solid #000;
}

.form-label-input::placeholder {
    /* font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42; */
color: transparent;
}

.form-label-input:focus::placeholder {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
padding: 16px 8px;
}

.form-btn {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4e75ff;
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
border: none;
}

.form-btn:hover {
    background-color: #6c8cff;
}

.login-form {
    width: 300px;
    margin: 0 auto 50px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  .login-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8bc34a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.dark .login-btn {
    background-color: #123eda;
}

  .login-btn:hover {
    background-color: #689f38;
  }
  .login-btn:active {
    background-color: #3e8e41;
  }


  .switcher {
    position: relative;
    padding: 1px;
    width: 40px;
    height: 20px;
    background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 25%/50%;
  }
  .switcher-track {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .switcher-marker {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 18px;
    height: 18px;
    background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: transform 250ms;
  }
  .switcher-toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }
  .switcher-toggle:checked + .switcher-marker {
    transform: translateX(20px);
  }